openapi: 3.2.0
info:
  title: Georgia Tech SUMS REST Update User Template API
  description: REST API published by Georgia Tech's SUMS system (Shared User Management System), built on the OutSystems low-code platform. Converted faithfully from the published Swagger 2.0 document at https://sums.gatech.edu/SUMSAPI/rest/API/swagger.json.
  version: '1'
servers:
- url: https://sums.gatech.edu/SUMSAPI/rest/API
tags:
- name: UpdateUserTemplate
paths:
  /UpdateUserTemplate:
    post:
      tags:
      - UpdateUserTemplate
      operationId: UpdateUserTemplate
      parameters:
      - name: EGKey
        in: query
        required: true
        schema:
          type: string
          default: ''
      - name: GTUsername
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: TemplateName
        in: query
        required: true
        schema:
          type: string
          default: ''
      - name: RemoveFromTemplate
        in: query
        required: false
        description: Input for removing user from template based off of GTUsername and TemplateName
        schema:
          type: boolean
          example: false
      responses:
        '200':
          description: ErrorMessage Text
          content:
            text/plain:
              schema:
                type: string
                default: ''
                description: ErrorMessage Text
          headers:
            isSuccess:
              schema:
                type: boolean
                x-example: false
                description: Success True/False
      summary: Update user template
      x-summary-source: derived
