openapi: 3.2.0
info:
  title: Georgia Tech SUMS REST EquipmentGroup Tools API
  description: REST API published by Georgia Tech's SUMS system (Shared User Management System), built on the OutSystems low-code platform. Converted faithfully from the published Swagger 2.0 document at https://sums.gatech.edu/SUMSAPI/rest/API/swagger.json.
  version: '1'
servers:
- url: https://sums.gatech.edu/SUMSAPI/rest/API
tags:
- name: EquipmentGroup Tools
paths:
  /equipmentGroup_tools:
    post:
      tags:
      - EquipmentGroup Tools
      operationId: equipmentGroup_tools
      parameters:
      - name: DepartmentID
        in: query
        required: true
        schema:
          type: integer
          format: int32
          example: 0
      - name: authorization
        in: header
        required: true
        schema:
          type: string
          default: ''
      - name: userName
        in: query
        required: true
        schema:
          type: string
          default: ''
      - name: Keywords
        in: query
        required: false
        schema:
          type: string
          default: ''
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TextTextDepartmentIdentifierTextTextRecordListTextTextLocationsIdentifierTextTextPhoneNumberTextTextTextToolIdentifierTextBooleanTextTextRecordListRecord'
      summary: Equipment group tools
      x-summary-source: derived
components:
  schemas:
    ? TextTextDepartmentIdentifierTextTextRecordListTextTextLocationsIdentifierTextTextPhoneNumberTextTextTextToolIdentifierTextBooleanTextTextRecordListRecord
    : description: ''
      type: object
      properties:
        equipmentGroupId:
          type: integer
          example: 0
          format: int32
        locationId:
          type: integer
          example: 0
          format: int32
        toolId:
          type: integer
          example: 0
          format: int32
        currentUserUserName:
          type: string
          default: ''
        equipmentGroupDescription:
          type: string
          default: ''
        equipmentGroupName:
          type: string
          default: ''
        locationAddress:
          type: string
          default: ''
        locationDescription:
          type: string
          default: ''
        locationManager:
          type: string
          default: ''
        locationName:
          type: string
          default: ''
        locationUrl:
          type: string
          default: ''
        toolCurrentUser:
          type: string
          default: ''
        toolDescription:
          type: string
          default: ''
        toolInUseSince:
          type: string
          default: ''
        toolName:
          type: string
          default: ''
        locationPhone:
          type: string
          default: ''
        toolIsOperational:
          type: boolean
          example: false
        HeroImageURLs:
          type: array
          items:
            $ref: '#/components/schemas/TextRecord2'
        Trainers:
          type: array
          items:
            $ref: '#/components/schemas/TextRecord2'
    TextRecord2:
      description: ''
      type: object
      properties:
        Text:
          type: string
          default: ''
