openapi: 3.2.0
info:
  title: Georgia Tech SUMS REST Training Info API
  description: REST API published by Georgia Tech's SUMS system (Shared User Management System), built on the OutSystems low-code platform. Converted faithfully from the published Swagger 2.0 document at https://sums.gatech.edu/SUMSAPI/rest/API/swagger.json.
  version: '1'
servers:
- url: https://sums.gatech.edu/SUMSAPI/rest/API
tags:
- name: TrainingInfo
paths:
  /TrainingInfo:
    get:
      tags:
      - TrainingInfo
      operationId: TrainingInfo
      parameters:
      - name: EGKey
        in: query
        required: true
        schema:
          type: string
          default: ''
      - name: ToolId
        in: query
        required: true
        schema:
          type: integer
          format: int32
          example: 0
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrainingInfoAPIStructure'
      summary: Training info
      x-summary-source: derived
components:
  schemas:
    TrainingInfoAPIStructure:
      description: ''
      type: object
      properties:
        Training_Module_Status:
          type: string
          default: ''
        Training_Module_Type:
          type: string
          default: ''
        TrainingDateTime:
          type: string
          default: ''
          description: For training session/checkoff, date/time marked atttended. For all other training types when the training attempt was made.
        Researcher:
          type: string
          default: ''
        Tool:
          type: string
          default: ''
        Training_Module_Name:
          type: string
          default: ''
        isHasAccessToTool:
          type: boolean
          example: false
