openapi: 3.2.0
info:
  title: Georgia Tech SUMS REST API
  description: REST API published by Georgia Tech's SUMS system (Shared User Management System), built on the OutSystems low-code platform. Converted faithfully from the published Swagger 2.0 document at https://sums.gatech.edu/SUMSAPI/rest/API/swagger.json.
  version: '1'
servers:
- url: https://sums.gatech.edu/SUMSAPI/rest/API
tags:
- name: api
paths:
  /Add_User_By_Username:
    post:
      tags:
      - api
      operationId: Add_User_By_Username
      parameters:
      - name: icalID
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: CreatorUsername
        in: query
        required: true
        schema:
          type: string
          default: ''
      responses:
        '200':
          description: Successful response
          content:
            text/plain:
              schema:
                type: string
                default: ''
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/TextRecord'
      summary: Add user by username
      x-summary-source: derived
  /ContactForms:
    get:
      tags:
      - api
      operationId: ContactForms
      parameters:
      - name: TrainingTestId
        in: query
        required: true
        schema:
          type: integer
          format: int32
          example: 0
      - name: APIKey
        in: query
        required: true
        schema:
          type: string
          default: ''
      - name: StartDate
        in: query
        required: true
        schema:
          type: string
          format: date
          example: '2014-12-31'
      - name: EndDate
        in: query
        required: true
        schema:
          type: string
          format: date
          example: '2014-12-31'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/QuestionAnswersStructure'
      summary: Contact forms
      x-summary-source: derived
  /equipmentGroup_info:
    post:
      tags:
      - api
      operationId: equipmentGroup_info
      parameters:
      - name: equipmentGroupId
        in: query
        required: true
        schema:
          type: integer
          format: int32
          example: 0
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TextLongIntegerTextTextRecord'
      summary: Equipment group info
      x-summary-source: derived
  /equipmentGroup_queueGroups:
    post:
      tags:
      - api
      operationId: equipmentGroup_queueGroups
      parameters:
      - name: authorization
        in: header
        required: true
        schema:
          type: string
          default: ''
      - name: DepartmentID
        in: query
        required: true
        schema:
          type: integer
          format: int32
          example: 0
      - name: userName
        in: query
        required: true
        schema:
          type: string
          default: ''
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LongIntegerBooleanTextRecord'
      summary: Equipment group queue groups
      x-summary-source: derived
  /equipmentGroup_queueUsers:
    post:
      tags:
      - api
      operationId: equipmentGroup_queueUsers
      parameters:
      - name: authorization
        in: header
        required: true
        schema:
          type: string
          default: ''
      - name: DepartmentID
        in: query
        required: true
        schema:
          type: integer
          format: int32
          example: 0
      - name: userName
        in: query
        required: true
        schema:
          type: string
          default: ''
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BooleanBooleanIntegerTextIntegerTextIntegerTextRecord'
      summary: Equipment group queue users
      x-summary-source: derived
  /equipmentGroup_tools:
    post:
      tags:
      - api
      operationId: equipmentGroup_tools
      parameters:
      - name: DepartmentID
        in: query
        required: true
        schema:
          type: integer
          format: int32
          example: 0
      - name: authorization
        in: header
        required: true
        schema:
          type: string
          default: ''
      - name: userName
        in: query
        required: true
        schema:
          type: string
          default: ''
      - name: Keywords
        in: query
        required: false
        schema:
          type: string
          default: ''
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TextTextDepartmentIdentifierTextTextRecordListTextTextLocationsIdentifierTextTextPhoneNumberTextTextTextToolIdentifierTextBooleanTextTextRecordListRecord'
      summary: Equipment group tools
      x-summary-source: derived
  /GetToolStatus:
    get:
      tags:
      - api
      operationId: GetToolStatus
      parameters:
      - name: ToolId
        in: query
        required: true
        schema:
          type: integer
          format: int32
          example: 0
      responses:
        '200':
          description: Successful response
          content:
            text/plain:
              schema:
                type: string
                default: ''
          headers:
            ContentType:
              schema:
                type: string
                default: ''
      summary: Get tool status
      x-summary-source: derived
  /GetTrainingReport:
    get:
      tags:
      - api
      operationId: GetTrainingReport
      parameters:
      - name: EGId
        in: query
        required: true
        schema:
          type: integer
          format: int32
          example: 0
      - name: StartDate
        in: query
        required: true
        schema:
          type: string
          format: date
          example: '2014-12-31'
      - name: EndDate
        in: query
        required: true
        schema:
          type: string
          format: date
          example: '2014-12-31'
      - name: EGKey
        in: query
        required: true
        schema:
          type: string
          default: ''
      responses:
        '200':
          description: Successful response
          content:
            text/plain:
              schema:
                type: string
                default: ''
          headers:
            ContentType:
              schema:
                type: string
                default: ''
      summary: Get training report
      x-summary-source: derived
  /GetUserNameAndEmailByBuzzCardNumber:
    get:
      tags:
      - api
      operationId: GetUserNameAndEmailByBuzzCardNumber
      parameters:
      - name: BuzzCardNumber
        in: query
        required: true
        schema:
          type: integer
          format: int32
          example: 0
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailTextRecord'
      summary: Get user name and email by buzz card number
      x-summary-source: derived
  /ToolCheckLoggedIn:
    get:
      tags:
      - api
      operationId: ToolCheckLoggedIn
      parameters:
      - name: ToolId
        in: query
        required: true
        schema:
          type: integer
          format: int32
          example: 0
      responses:
        '200':
          description: Successful response
          content:
            text/plain:
              schema:
                type: string
                default: ''
      summary: Tool check logged in
      x-summary-source: derived
  /TrainingInfo:
    get:
      tags:
      - api
      operationId: TrainingInfo
      parameters:
      - name: EGKey
        in: query
        required: true
        schema:
          type: string
          default: ''
      - name: ToolId
        in: query
        required: true
        schema:
          type: integer
          format: int32
          example: 0
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrainingInfoAPIStructure'
      summary: Training info
      x-summary-source: derived
  /UpdateUserTemplate:
    post:
      tags:
      - api
      operationId: UpdateUserTemplate
      parameters:
      - name: EGKey
        in: query
        required: true
        schema:
          type: string
          default: ''
      - name: GTUsername
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: TemplateName
        in: query
        required: true
        schema:
          type: string
          default: ''
      - name: RemoveFromTemplate
        in: query
        required: false
        description: Input for removing user from template based off of GTUsername and TemplateName
        schema:
          type: boolean
          example: false
      responses:
        '200':
          description: ErrorMessage Text
          content:
            text/plain:
              schema:
                type: string
                default: ''
                description: ErrorMessage Text
          headers:
            isSuccess:
              schema:
                type: boolean
                x-example: false
                description: Success True/False
      summary: Update user template
      x-summary-source: derived
  /user_info:
    get:
      tags:
      - api
      operationId: user_info
      parameters:
      - name: userName
        in: query
        required: true
        schema:
          type: string
          default: ''
      - name: EGKey
        in: query
        required: true
        schema:
          type: string
          default: ''
      - name: EGId
        in: query
        required: true
        schema:
          type: integer
          format: int32
          example: 0
      responses:
        '200':
          description: Successful response
          content:
            text/plain:
              schema:
                type: string
                default: ''
          headers:
            ContentType:
              schema:
                type: string
                default: ''
      summary: User info
      x-summary-source: derived
  /WhoLoggedIn:
    get:
      tags:
      - api
      operationId: WhoLoggedIn
      parameters:
      - name: ToolId
        in: query
        required: false
        schema:
          type: integer
          format: int32
          example: 0
      - name: DateTime
        in: query
        required: false
        schema:
          type: string
          format: date-time
          example: '2014-12-31T23:59:59.938Z'
      - name: EGKey
        in: query
        required: true
        schema:
          type: string
          default: ''
      - name: GTUsername
        in: query
        required: false
        schema:
          type: string
          default: ''
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegerWhoLoggedInListListRecord'
      summary: Who logged in
      x-summary-source: derived
components:
  schemas:
    LongIntegerBooleanTextRecord:
      description: ''
      type: object
      properties:
        name:
          type: string
          default: ''
        id:
          type: integer
          example: 1234567891234567
          format: int64
        isGroup:
          type: boolean
          example: false
    ResponsesStructure:
      description: ''
      type: object
      properties:
        Question:
          type: string
          default: ''
        Response:
          type: string
          default: ''
    ? TextTextDepartmentIdentifierTextTextRecordListTextTextLocationsIdentifierTextTextPhoneNumberTextTextTextToolIdentifierTextBooleanTextTextRecordListRecord
    : description: ''
      type: object
      properties:
        equipmentGroupId:
          type: integer
          example: 0
          format: int32
        locationId:
          type: integer
          example: 0
          format: int32
        toolId:
          type: integer
          example: 0
          format: int32
        currentUserUserName:
          type: string
          default: ''
        equipmentGroupDescription:
          type: string
          default: ''
        equipmentGroupName:
          type: string
          default: ''
        locationAddress:
          type: string
          default: ''
        locationDescription:
          type: string
          default: ''
        locationManager:
          type: string
          default: ''
        locationName:
          type: string
          default: ''
        locationUrl:
          type: string
          default: ''
        toolCurrentUser:
          type: string
          default: ''
        toolDescription:
          type: string
          default: ''
        toolInUseSince:
          type: string
          default: ''
        toolName:
          type: string
          default: ''
        locationPhone:
          type: string
          default: ''
        toolIsOperational:
          type: boolean
          example: false
        HeroImageURLs:
          type: array
          items:
            $ref: '#/components/schemas/TextRecord2'
        Trainers:
          type: array
          items:
            $ref: '#/components/schemas/TextRecord2'
    IntegerWhoLoggedInListListRecord:
      description: ''
      type: object
      properties:
        WhoLoggedInListList:
          type: array
          items:
            $ref: '#/components/schemas/WhoLoggedInList'
        Count:
          type: integer
          example: 0
          format: int32
    TrainingInfoAPIStructure:
      description: ''
      type: object
      properties:
        Training_Module_Status:
          type: string
          default: ''
        Training_Module_Type:
          type: string
          default: ''
        TrainingDateTime:
          type: string
          default: ''
          description: For training session/checkoff, date/time marked atttended. For all other training types when the training attempt was made.
        Researcher:
          type: string
          default: ''
        Tool:
          type: string
          default: ''
        Training_Module_Name:
          type: string
          default: ''
        isHasAccessToTool:
          type: boolean
          example: false
    TextRecord2:
      description: ''
      type: object
      properties:
        Text:
          type: string
          default: ''
    BooleanBooleanIntegerTextIntegerTextIntegerTextRecord:
      description: ''
      type: object
      properties:
        memberName:
          type: string
          default: ''
        memberUserName:
          type: string
          default: ''
        queueName:
          type: string
          default: ''
        hasBeenNotified:
          type: boolean
          example: false
        isGroup:
          type: boolean
          example: false
        memberMinutesRemaining:
          type: integer
          example: 0
          format: int32
        memberQueueLocation:
          type: integer
          example: 0
          format: int32
        queueGroupId:
          type: integer
          example: 0
          format: int32
    EmailTextRecord:
      description: ''
      type: object
      properties:
        UserName:
          type: string
          default: ''
        UserEmail:
          type: string
          default: ''
    TextLongIntegerTextTextRecord:
      description: ''
      type: object
      properties:
        equipmentGroupDescriptionHtml:
          type: string
          default: ''
        equipmentGroupName:
          type: string
          default: ''
        equipmentGroupShortName:
          type: string
          default: ''
        equipmentGroupId:
          type: integer
          example: 1234567891234567
          format: int64
    TextRecord:
      description: ''
      type: object
      properties:
        Username:
          type: string
          default: ''
    WhoLoggedInList:
      description: ''
      type: object
      properties:
        EndDateTime:
          type: string
          format: date-time
          example: '2014-12-31T23:59:59.938Z'
        ToolName:
          type: string
          default: ''
        StartDateTime:
          type: string
          format: date-time
          example: '2014-12-31T23:59:59.938Z'
        ResearcherName:
          type: string
          default: ''
        ToolId:
          type: integer
          example: 0
          format: int32
    QuestionAnswersStructure:
      description: ''
      type: object
      properties:
        Responder:
          type: string
          default: ''
        DateTime:
          type: string
          format: date-time
          example: '2014-12-31T23:59:59.938Z'
        Responses:
          type: array
          items:
            $ref: '#/components/schemas/ResponsesStructure'
