openapi: 3.2.0
info:
  title: Georgia Tech SUMS REST Get Training Report API
  description: REST API published by Georgia Tech's SUMS system (Shared User Management System), built on the OutSystems low-code platform. Converted faithfully from the published Swagger 2.0 document at https://sums.gatech.edu/SUMSAPI/rest/API/swagger.json.
  version: '1'
servers:
- url: https://sums.gatech.edu/SUMSAPI/rest/API
tags:
- name: GetTrainingReport
paths:
  /GetTrainingReport:
    get:
      tags:
      - GetTrainingReport
      operationId: GetTrainingReport
      parameters:
      - name: EGId
        in: query
        required: true
        schema:
          type: integer
          format: int32
          example: 0
      - name: StartDate
        in: query
        required: true
        schema:
          type: string
          format: date
          example: '2014-12-31'
      - name: EndDate
        in: query
        required: true
        schema:
          type: string
          format: date
          example: '2014-12-31'
      - name: EGKey
        in: query
        required: true
        schema:
          type: string
          default: ''
      responses:
        '200':
          description: Successful response
          content:
            text/plain:
              schema:
                type: string
                default: ''
          headers:
            ContentType:
              schema:
                type: string
                default: ''
      summary: Get training report
      x-summary-source: derived
