openapi: 3.2.0
info:
  title: Georgia Tech SUMS REST EquipmentGroup QueueUsers API
  description: REST API published by Georgia Tech's SUMS system (Shared User Management System), built on the OutSystems low-code platform. Converted faithfully from the published Swagger 2.0 document at https://sums.gatech.edu/SUMSAPI/rest/API/swagger.json.
  version: '1'
servers:
- url: https://sums.gatech.edu/SUMSAPI/rest/API
tags:
- name: EquipmentGroup QueueUsers
paths:
  /equipmentGroup_queueUsers:
    post:
      tags:
      - EquipmentGroup QueueUsers
      operationId: equipmentGroup_queueUsers
      parameters:
      - name: authorization
        in: header
        required: true
        schema:
          type: string
          default: ''
      - name: DepartmentID
        in: query
        required: true
        schema:
          type: integer
          format: int32
          example: 0
      - name: userName
        in: query
        required: true
        schema:
          type: string
          default: ''
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BooleanBooleanIntegerTextIntegerTextIntegerTextRecord'
      summary: Equipment group queue users
      x-summary-source: derived
components:
  schemas:
    BooleanBooleanIntegerTextIntegerTextIntegerTextRecord:
      description: ''
      type: object
      properties:
        memberName:
          type: string
          default: ''
        memberUserName:
          type: string
          default: ''
        queueName:
          type: string
          default: ''
        hasBeenNotified:
          type: boolean
          example: false
        isGroup:
          type: boolean
          example: false
        memberMinutesRemaining:
          type: integer
          example: 0
          format: int32
        memberQueueLocation:
          type: integer
          example: 0
          format: int32
        queueGroupId:
          type: integer
          example: 0
          format: int32
