openapi: 3.2.0
info:
  title: Places Buildings API
  description: This API will allow you to access the information of the places at Georgia Tech. It can be used to find out information about the offices and the buildings such as their names, addresses, phone numbers, images, categories and GPS coordinates.
  version: 1.0.0
servers:
- url: https://m.gatech.edu/api
tags:
- name: Buildings
paths:
  /gtplaces/buildings/:
    get:
      summary: Returns list of all buildings with their information
      description: Returns list of all buildings with building id, name, address, latitude, longtitude, image url and tags.
      tags:
      - Buildings
      responses:
        200:
          description: An array of building information
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/buildings'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/buildings'
      operationId: getGtplacesBuildings
      x-operation-id-source: derived
components:
  schemas:
    buildings:
      type: object
      properties:
        b_id:
          type: string
          description: ID of the building.
        name:
          type: string
          description: Name of the building.
        address:
          type: string
          description: Address of the building.
        image_url:
          type: string
          description: Image of the building.
        latitute:
          type: string
          description: Latitute of the building.
        longitute:
          type: string
          description: Longitute of the building.
        phone_num:
          type: string
          description: Phone number of the building.
        tag_list:
          type: array
          items:
            type: string
          description: Tags of the building.
