openapi: 3.2.0
info:
  title: Georgia Tech SUMS REST Who Logged In API
  description: REST API published by Georgia Tech's SUMS system (Shared User Management System), built on the OutSystems low-code platform. Converted faithfully from the published Swagger 2.0 document at https://sums.gatech.edu/SUMSAPI/rest/API/swagger.json.
  version: '1'
servers:
- url: https://sums.gatech.edu/SUMSAPI/rest/API
tags:
- name: WhoLoggedIn
paths:
  /WhoLoggedIn:
    get:
      tags:
      - WhoLoggedIn
      operationId: WhoLoggedIn
      parameters:
      - name: ToolId
        in: query
        required: false
        schema:
          type: integer
          format: int32
          example: 0
      - name: DateTime
        in: query
        required: false
        schema:
          type: string
          format: date-time
          example: '2014-12-31T23:59:59.938Z'
      - name: EGKey
        in: query
        required: true
        schema:
          type: string
          default: ''
      - name: GTUsername
        in: query
        required: false
        schema:
          type: string
          default: ''
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegerWhoLoggedInListListRecord'
      summary: Who logged in
      x-summary-source: derived
components:
  schemas:
    IntegerWhoLoggedInListListRecord:
      description: ''
      type: object
      properties:
        WhoLoggedInListList:
          type: array
          items:
            $ref: '#/components/schemas/WhoLoggedInList'
        Count:
          type: integer
          example: 0
          format: int32
    WhoLoggedInList:
      description: ''
      type: object
      properties:
        EndDateTime:
          type: string
          format: date-time
          example: '2014-12-31T23:59:59.938Z'
        ToolName:
          type: string
          default: ''
        StartDateTime:
          type: string
          format: date-time
          example: '2014-12-31T23:59:59.938Z'
        ResearcherName:
          type: string
          default: ''
        ToolId:
          type: integer
          example: 0
          format: int32
