openapi: 3.2.0
info:
  title: Georgia Tech SUMS REST Contact Forms API
  description: REST API published by Georgia Tech's SUMS system (Shared User Management System), built on the OutSystems low-code platform. Converted faithfully from the published Swagger 2.0 document at https://sums.gatech.edu/SUMSAPI/rest/API/swagger.json.
  version: '1'
servers:
- url: https://sums.gatech.edu/SUMSAPI/rest/API
tags:
- name: ContactForms
paths:
  /ContactForms:
    get:
      tags:
      - ContactForms
      operationId: ContactForms
      parameters:
      - name: TrainingTestId
        in: query
        required: true
        schema:
          type: integer
          format: int32
          example: 0
      - name: APIKey
        in: query
        required: true
        schema:
          type: string
          default: ''
      - name: StartDate
        in: query
        required: true
        schema:
          type: string
          format: date
          example: '2014-12-31'
      - name: EndDate
        in: query
        required: true
        schema:
          type: string
          format: date
          example: '2014-12-31'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/QuestionAnswersStructure'
      summary: Contact forms
      x-summary-source: derived
components:
  schemas:
    QuestionAnswersStructure:
      description: ''
      type: object
      properties:
        Responder:
          type: string
          default: ''
        DateTime:
          type: string
          format: date-time
          example: '2014-12-31T23:59:59.938Z'
        Responses:
          type: array
          items:
            $ref: '#/components/schemas/ResponsesStructure'
    ResponsesStructure:
      description: ''
      type: object
      properties:
        Question:
          type: string
          default: ''
        Response:
          type: string
          default: ''
